/* Text */
/*http://www.lunapic.com/editor/?action=transparent*/
BODY {
	margin:0px;
	font-family : Arial;
	font-size : 10pt;
	color : rgb(51,51,51);
	/*background-color : rgb(174,0,0);*/
	
	 /* fallback */
  background-color: #111111;
  /* chrome 2+, safari 4+; multiple color stops */
  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.32, #620000), color-stop(0.66, #111111), color-stop(0.83, #111111));
  /* chrome 10+, safari 5.1+ */
  background-image: -webkit-linear-gradient(#620000, #111111, #111111);
  /* firefox; multiple color stops */
  background-image: -moz-linear-gradient(top,#620000, #111111, #111111);
  /* ie 6+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#620000', endColorstr='#111111');
  /* ie8 + */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#620000', endColorstr='#111111')";
  /* ie10 */
  background-image: -ms-linear-gradient(#620000, #111111, #111111);
  /* opera 11.1 */
  background-image: -o-linear-gradient(#620000, #111111, #111111);
  /* The "standard" */
  background-image: linear-gradient(#620000, #111111, #111111);
	

 	height: 100%;
    /*margin: 0;*/
    background-repeat: no-repeat;
    background-attachment: fixed;

	
}

P {
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 10pt;
	color : rgb(51,51,51);
	text-align:left;
	/*line-height: 1.2;
	margin-bottom: 19px;
	margin-top: 0px;*/
	
}

.left{
	float:left;
	margin:3px;
}

/*.TextObject {
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 10pt;
	color : rgb(51,51,51)
}*/

A {
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 10pt;
	color : rgb(255,102,51);
	text-decoration : none
}

A:visited {
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 10pt;
	color : rgb(255,102,51);
	text-decoration : none
}

A:active {
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 10pt;
	color : rgb(255,102,51);
	text-decoration : none
}

A:hover {
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 10pt;
	color : #CA0000;
	text-decoration : underline
}

.left_side_menu{font-family: Arial,    Helvetica,    Geneva,    Sans-serif; font-size : 11pt; font-weight:bold; color : rgb(255,102,51); text-decoration : none;}
.left_side_menu a{text-decoration : none;}
.left_side_menu	a:visited {text-decoration : none}
.left_side_menu a:active {text-decoration : none}
.left_side_menu a:hover {color : #CA0000;	text-decoration : underline}
.bottom_border{border-bottom:dashed 1px #ff6633;}

H1 {
	font-family: Arial,   Helvetica,   Geneva,   Sans-serif;
	font-size : 18pt;
	color : #CA0000;
	line-height:40px;
}

H2 {
	font-family: Arial,   Helvetica,   Geneva,   Sans-serif;
	font-size : 14pt;
	color : #CA0000;
	white-space : nowrap
}
.label {
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 10pt;
	font-weight:bold;
	color : rgb(51,51,51);
	text-align:left;
}

.normal {
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 10pt;
	font-weight:normal;
	color : rgb(51,51,51)
}


.bold-font{
	font-size:14px !important;
	font-weight:bold !important;
}
input, select, textarea{

	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 9pt;
	color : #333333;
	float:left;
	margin-left:3px;
}

.Err {
	border-radius:5px;
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 8pt;
	font-weight:bold;
	padding:0px 0px 0px 20px;
	color : #CA0000;
	background-color:#FFEBD7;
	border: 1px solid #CA0000;
}

.Success {
	border-radius:5px;
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 8pt;
	font-weight:bold;
	padding:0px 0px 0px 20px;
	color : #CA0000;
	background-color:#FFEBD7;
	border: 1px solid #CA0000;
}
.Button{
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 9pt;
	font-weight:bold;
	color : #CA0000;
	background-color:#FFEBD7;
	border:1px solid 
}

img {border:0px;}

.Highlight{
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size : 8pt;
	font-weight:normal;
	color : #CA0000;
}

.box{
	border-radius:5px;
	border:1px solid #ccc;
}

.colhead{
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#CA0000; 
	background-color:#FFEBD7; 
	height:20px;
	border-left:1px solid #FFEBD7;
	border-right: 1px solid #aaaaaa; 
	border-top: 1px solid #FFEBD7; 
	border-bottom: 1px solid #aaaaaa;
	padding-left:3px;
}
.coldata{
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size:8pt;
	color:#000000;
	border-left: 1px solid #ffffff; 
	border-right: 1px solid #cccccc; 
	border-top: 1px solid #ffffff; 
	border-bottom: 1px solid #cccccc;
	padding-left:2px;
}

.leftbox{border-left:1px solid #ccc;}

.PaginationLink a:link{
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size:8pt;
	text-decoration: none;
	color:#CA0000;
	border: 1px solid #CA0000; 
	padding: 1px 2px 1px 2px;
  	background-color:#FFEBD7;
}
.PaginationLink a:visited{
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size:8pt;
	text-decoration: none;
	color:#CA0000;
	border: 1px solid #CA0000; 
	padding: 1px 2px 1px 2px;
  	background-color:#FFEBD7;
}

.PaginationLink a:hover{
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size:8pt;
	text-decoration: none;
	color:#FFEBD7;
	border: 1px solid #fff; 
	padding: 1px 2px 1px 2px;
  	background-color:#CA0000;
}

.PaginationLink .current{
	font-family: Arial,    Helvetica,    Geneva,    Sans-serif;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
	color:#ccc;
	padding: 1px 2px 1px 1px;
  	background-color:#FFEBD7;
	border:1px solid #000;
}

.left_nav_label{font-size:15pt; font-weight:normal; color:#fff; font-family: Arial,    Helvetica,    Geneva,    Sans-serif;}

.unavailable{
	color:#0000FF;
	font-size:9pt;
}

/*======================CUSTOM MESSAGE	===*/
#backgroundPopup{
display:none;
position:fixed;
/*_position:absolute;*/ /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupContact{
/*-------------------*/
background:#FFFFFF;
border:1px solid #CA0000;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/

float: left;
font-weight: normal;
width: 600px;
display:none;
z-index:2;
}
.notice-heading{
	font-family: Arial,   Helvetica,   Geneva,   Sans-serif;
	font-size : 14pt;
	color : #CA0000;
	border-bottom:1px solid #FF3000;
}

.footer-text{
	font-family: Arial,   Helvetica,   Geneva,   Sans-serif;
	color:#ffa851;
	font-size:11px;
}

.footer-text a{
	color:#ffa851;
	text-decoration:underline;
	font-size:11px;
}

.footer-text a:hover{
	color:#ffa851;
	text-decoration:none;
	font-size:11px;
}

option.unavailable	{background-color:#a70000; color:#fff;}

