<!-- templates/registration/login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.min.js' %}"></script>
</head>
<body class="container">
    <h2 class="my-4">Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="id_username" required>
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="id_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</body>
</html>
